
<nav class="navbar navbar-dark bg-primary py-4 px-5" >
		<div class="d-flex gap-3">
			<a href="{{path("app_index")}}">
				<button class='btn-secondary btn-sm'>Home</button>
			</a>
			<a href="{{path("program_index")}}">
				<button class='btn-secondary btn-sm'>Program</button>
			</a>
			<a href="{{path("category_index")}}">
				<button class='btn-secondary btn-sm'>Categories</button>
			</a>
		</div>
</nav>
